.cart-container {
  padding: 20px; /* Adjust based on your layout */
  background-color: mintcream; /* Soft background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

form {
  width: 100%;
  min-width: 500px;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .21);
  border-radius: 8px;
  padding: 2000px;
}
.remove-btn {
  background: linear-gradient(135deg, #EA8D8D 0%, #CC4260 100%); /* Transparent background */
  color: mintcream;
  border: none; /* No border */
  cursor: pointer; /* Show pointer on hover */
  transition: color 0.3s ease; /* Smooth color transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item {
  border-bottom: 1px solid #e1e1e1; /* Light separator for items */
  padding: 20px;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-image {
    border-radius: 8px; /* Rounded corners */
    width: 100%;
    max-height: 400px;
    aspect-ratio: 5/4;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(0.75) contrast(1.20);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#email {
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
/* Buttons and links */
.remove-btn:hover {
  filter: contrast(115%);
  background: linear-gradient(135deg, #CC4260 0%, #EA8D8D 100%);
}

.remove-btn:disabled {
  opacity: 0.5;
  cursor: default;
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}

.cart-summary, .card-body {
  font-weight: bold; /* Emphasize the summary section */
  background-color: mintcream; /* Readable text color */
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.cart-item {
  animation: fadeInOut 0.5s ease-in-out;
}