.payment-form {
  font-family: Voltaire, sans-serif, system-ui;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  width: 100%;
  max-width: 600px;
  box-shadow: 0  4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 40px;
  margin: auto;
}
#payment-element {
  margin-bottom: 24px;
}

#email {
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}
/* Buttons and links */
#submit {
  background: linear-gradient(135deg, #EA8D8D 0%, #CC4260 100%); /* Transparent background */
  color: mintcream;
  border: none; /* No border */
  cursor: pointer; /* Show pointer on hover */
  padding: 12px 20px;
    border-radius: 30px;
  transition: all 0.3s ease; /* Smooth color transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  width: 100%;
}
#submit:hover {
  filter: contrast(115%);
  background: linear-gradient(135deg, #CC4260 0%, #EA8D8D 100%);
}

#submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.spinner {
  color: #CC4260;
  font-size: 22px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: spin 1.1s infinite linear;
  transform: translateZ(0);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
  form {
    padding: 20px;
    border-radius: 5px;
  }
}